GEMINI_API_KEY=AQ.Ab8RN6L0SHx3OjVJ_Swasx9Wa0-D-IJl1796QZpnjqjtM_oO1Q
GEMINI_MODEL=gemini-3.5-flash-lite  
# gemini 3.8 used for structured output
GROQ_API_KEY=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
GROQ_MODEL=openai/gpt-oss-120b


# npm install dotenv @google/genai groq-sdk zod